<!DOCTYPE HTML>
<html>
	<head>
		<script src = 'scripts/main.js'> </script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
		
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet"> 
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<link rel="stylesheet"	type ="text/css" href = "../../css/style.css">
	</head>

	<body id ="parallax">
		<div id="fixedhead">
			<div id="headertabs"><p id="headerTabText"><a href="index.html">HOME</a></p></div>
			<div id="headertabs"><p id="headerTabText"><a href="aboutus.html">ABOUT US</a></p></div>
			<div id="headertabsCenter"><p id="headerTabTextCenter"><a href="index.html">L.A. CRIME WATCH</a></p></div>
			<div id="headertabs"><p id="headerTabText"><a href = "dataset.html">DATASETS</a></p></div>
			<div id="headertabs"><a href= "login.html"><p id="headerTabText" ><a href="login.html">LOGIN</a></p></a></div>
		</div>
		<br />
		<br />
		<br />
		<br />
		<h1 class = "AboutIntroHeader">WHAT IS THIS WEBSITE ABOUT?</h1>
		<br />
		<p class = "AboutIntroHeader">
			This website is accumulation of the dataset obtained from an online repository linked <strong><i>here</i></strong>. The data contains recorded small unit crimes that have occured in various districts of the L.A. and allow the people to make decisions related to the city of L.A. <br /> Imagine if you are moving to this new city from far away; you have never been here before, you dont know anyone here. You are searching for an apartment in this strange, new city. Where do you find it? Who is the most reliable source. Word of mouth is not the most reliable source of information. You need something resourceful and reliable. <br />This is where this website comes into picture. Taking over the historic data from the the official police records allows us to provide the most reliable source of information
		</p>
		<br />
		<h1 class = "AboutIntroHeader"> CAST </h1>
		<p class = "AboutIntroHeader">
			Neel Sinha <br />
			Shubham Swapnil<br />
			Advait Ambeskar <br />
			Rohit Banka <br />
		</p>
		<br />
		<h1 class = "AboutIntroHeader"> PROFESSORS </h1>
		<p class = "AboutIntroHeader">
			Dr. Marcus Schneider
		</p>
		<br />
		<h1 class = "AboutIntroHeader"> TEACHING ASSISTANTS </h1>
		<p class = "AboutIntroHeader">
			NEED TO RECTIFY
		</p>
		<br />
		<div id="fixedfooter">
				<div id="footerTabs">
					<p id="footerTabTextLink">DBMS Project Group #18</p>
				</div>
				<div id="footerTabs">
					<a id="footerTabTextLink" href = "admin.html">Admin Page Link</p>
				</div>
				<div id="footerTabs">
					<a id="footerTabTextLink" href = "login.html">Login Page</p>
				</div>
				<div id="footerTabs">
					<a id="footerTabTextLink" href =" signup.html">Sign up to be our moderator</p>
				</div>
			</div>
	</body>
