


<div class="container-fluid" id="demo-view">
    <!--<link rel="stylesheet" type="text/css" href="./css/view.css">-->
    <div class="row">
        <div class="col-md-8">
            <div class="page-header">
                <h1>U.S. GDP <small>1947 - Present</small></h1>
            </div>
            <div ng-if="areaByCatCtrl.flag" class="col-md-12">
                {{areaByCatCtrl.venues.length}}
                <nvd3 options="areaByCatCtrl.graphOptions" data="areaByCatCtrl.graphData"></nvd3>
            </div>
            <!-- this is the popup that will display when user hovers over graph bar -->
            <div id="tooltip">
                <span id="alfabet" style='line-height:3em; font:2em sans-serif;'></span>
                <p><span id="year">1947</span></p>
                <p id="popup-title">U.S. GDP (billions USD)</p>
                <p><span id="value">100</span></p>
            </div>
        </div>




        <div class="col-md-4 mt100 standard-text" id="demo-text">

            <p id="lesser-title">U.S. GDP data is available from 1947 to 2014</p>
            <p id="sub-title">Enter two dates below to graph the GDP for a range of your choice</p>

            <hr>

            <form class="form-inline container-fluid">
                <div class="row">
                    <div class="form-group col-md-4">
                        <!--<input data-ng-model="vm.userDate1" type="text" class="form-control" id="date1" placeholder="1962">-->
                        <label for="startTime">Pick start time</label>
                        <input type="time" id="startTime" name="input" ng-model="areaByCatCtrl.startTime"
                               placeholder="HH:mm" required />
                    </div>

                    <div class="form-group col-md-4">
                        <!--<input data-ng-model="vm.userDate2" type="text" class="form-control" id="date2" placeholder="1976">-->
                        <label for="endTime">Pick end time</label>
                        <input type="time" id="endTime" name="input" ng-model="areaByCatCtrl.endTime"
                               placeholder="HH:mm" required />
                    </div>
                </div>
                <div class="row col-md-12 mt-md-2">
                    <div class="dropdown ">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{areaByCatCtrl.selectedCat.CRIMEDESCRIPTION}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a ng-click="areaByCatCtrl.selectCat(crime)" class="dropdown-item" ng-repeat="crime in areaByCatCtrl.categories">
                                {{crime.CRIMEDESCRIPTION}}
                            </a>
                        </div>
                    </div>

                </div>
                <div class="row col-md-12 mt-md-2">
                    <div class="col-md-4"></div>
                    <div class="col-md-6">
                        <button data-ng-click="areaByCatCtrl.generateGraph()" type="submit" class="btn" id="gen-button">Go!</button>
                    </div>
                    <!--<button data-ng-click="vm.resetGraph()" type="submit" class="btn" id="reset-button">Reset Graph</button>-->
                </div>





            </form>

            <hr>

            <p>The graph at left is generated dynamically using the D3 Javascript library.</p>

            <p>Each time you change the date range, an API call is made to the Qandle server and your requested data is returned. D3 dynamically renders the new data, scaling the axes, bar widths and heights.</p>

            <p>Try it out!</p>
        </div>

    </div>


    <!--<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="./css/stylemin.css">-->

</div>


